<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Socket.IO Chat</title>
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
  <h1>Socket.IO Chat</h1>
  <input id="message" placeholder="Type a message..." />
  <button onclick="sendMessage()">Send</button>

  <ul id="messages"></ul>

  <script>
    const  socket  = io("http://localhost:4000");

    // Function to send message  
    function sendMessage() { 
      const message = document.getElementById("message").value;
      socket.emit("sendMessage", { message });
      document.getElementById("message").value = "";
    }

    // Listen for incoming messages
    socket.on("receiveMessage", (data) => {
      const listItem = document.createElement("li");
      listItem.textContent = `From ${data.sender}: ${data.message}`;
      console.log(data)
      document.getElementById("messages").appendChild(listItem);
    });   
  </script>
</body>
</html>
